<TMPL_INCLUDE Templates/menu_main.html>

    <div class="bg-gray-900 py-24 sm:py-32">
        <div class="relative isolate">
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="mx-auto flex max-w-2xl flex-col gap-16 bg-white/5 px-6 py-16 ring-1 ring-white/10  sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
              <div class="w-full flex-auto">
                <article class="prose max-w-7xl text-gray-300">
                  <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl mb-6">Copyright Policy</h2>
                  <!-- <p class="text-base font-semibold leading-7 text-indigo-200">Please review these terms and conditions of use carefully before using foxy.nu and the service available thereon.</p> -->

                  <p>We respect the intellectual property rights of others. You may not infringe the copyright, trademark or other proprietary informational rights of any party. We may in our sole discretion remove any Content we have reason to believe violates any of the intellectual property rights of others and may terminate your use of the Website if you submit any such Content.</p>

                  <p>REPEAT INFRINGER POLICY. AS PART OF OUR REPEAT-INFRINGEMENT POLICY, ANY USER FOR WHOSE MATERIAL WE RECEIVE THREE GOOD-FAITH AND EFFECTIVE COMPLAINTS WITHIN ANY CONTIGUOUS SIX-MONTH PERIOD WILL HAVE HIS GRANT OF USE OF THE WEBSITE TERMINATED.</p>

                  <p>Although we are not subject to United States law, we voluntarily comply with the Digital Millennium Copyright Act. Pursuant to Title 17, Section 512(c)(2) of the United States Code, if you believe that any of your copyrighted material is being infringed on the Website, we have designated an agent to receive notifications of claimed copyright infringement. Notifications should be e-mailed to: <b>dmca@foxy.nu</b></p>

                  <p>All notifications not relevant to us or ineffective under the law will receive no response or action thereupon. Pursuant to Title 17, Section 512(c)(3) of the United States Code, an effective notification of claimed infringement must be a written communication to our agent that includes substantially the following:</p>

                  <p>(a) Identification of the copyrighted work that is believed to be infringed. Please describe the work and, where possible, include a copy or the location (e.g., a URL) of an authorized version of the work;</p>
                  <p>(b) Identification of the material that is believed to be infringing and its location. Please describe the material and provide a URL or any other pertinent information that will allow us to locate the material on the Website</p>
                  <p>(c) Information that will allow us to contact you, including your address, telephone number and, if available, your e-mail address;</p>
                  <p>(d) A statement that you have a good faith belief that the use of the material complained of is not authorized by you, your agent or the law;</p>
                  <p>(e) A statement that the information in the notification is accurate and that under penalty of perjury that you are the owner or are authorized to act on behalf of the owner of the work that is allegedly infringed; and</p>
                  <p>(f) A physical or electronic signature from the copyright holder or an authorized representative.</p>                  
    
                  </article>
    
              </div>
            </div>
          </div>
          <!-- <div class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl" aria-hidden="true">
            <div class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
          </div> -->
        </div>
      </div>
<TMPL_INCLUDE Templates/footer.html>            