<h2>Admin Streams</h2>

<TMPL_IF msg><b class="msg"><TMPL_VAR msg></b><br><br></TMPL_IF>

<TMPL_IF list>
<Table class="tbl1" cellpadding=3 width=640>
<TR>
    <TH>Title</TH>
    <TH width="120">User</TH>
    <TH width="110">Live</TH>
    <TH width="2%"></TH>
</TR>
<TMPL_LOOP list>
<TR>
    <TD>
    	<a href="<TMPL_VAR SITE_URL>/stream/<TMPL_VAR stream_code>"><b><TMPL_VAR stream_title></b></a>
    	<TMPL_IF stream_live><br><img src="<TMPL_VAR host_htdocs_url>/tmp/<TMPL_VAR stream_code>.jpg" height=80></TMPL_IF>
    </TD>
    <TD align=center><TMPL_VAR usr_login></TD>
    <TD align=center>
    	<TMPL_IF stream_live><b style="color:green">LIVE</b></TMPL_IF>
    	<TMPL_IF watchers> <TMPL_VAR watchers> watching</TMPL_IF>
    </TD>
    <TD><a href="?op=admin_streams&amp;del=<TMPL_VAR stream_id>&amp;token=<TMPL_VAR token>" onClick="return confirm('Delete this stream?')"><img src="<TMPL_VAR static_url>/images/del.gif" border=0></a></TD>
</TR>
</TMPL_LOOP>
</Table>
<TMPL_ELSE>
empty
</TMPL_IF>
