<Form style="margin:0;" method="POST">
<input type="hidden" name="op" value="admin_comments">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<h3>Comments management</h3>
<input type="text" name="key" value="<TMPL_VAR key>"><input type="submit" value="Search">
<br><br>
<Table class="tbl1" cellspacing=1 cellpadding=2 width=800>
<TR class="hdr">
<TD width="1%"><input type="checkbox" onClick="for(i=0;i<this.form.cmt_id.length;i++){this.form.cmt_id[i].checked=this.checked;}if(this.form.cmt_id.value)this.form.cmt_id.checked=this.checked;"></TD>
<TD></TD>
</TR>
<TMPL_LOOP list>
<TR>
<TD><input type="checkbox" name="cmt_id" value="<TMPL_VAR cmt_id>"></TD>
<TD class="txt12">
<div style="float:left;"><TMPL_VAR cmt_text></div>
<div style="float:right;"><a href="?op=admin_comments&rr=<TMPL_VAR cmt_type>-<TMPL_VAR cmt_ext_id><TMPL_VAR token_str>">#</a> by <TMPL_IF usr_login><a href="?op=admin_comments&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></a><TMPL_ELSE><TMPL_VAR cmt_name><TMPL_IF cmt_email> (<TMPL_VAR cmt_email>)</TMPL_IF></TMPL_IF> <a href="?op=admin_comments&ip=<TMPL_VAR ip>"><TMPL_VAR ip></a></div>
</TD>
</TR>
</TMPL_LOOP>
<TR class="hdr">
    <TD colspan=2 style="text-align:left;"><input type="submit" name="del_selected" value="Delete selected" class="btn2"></TD>
</TR>
</Table>
<TMPL_VAR paging>
<br><br>
</Form>