<!DOCTYPE html> 
<html lang="en"> 
    <head>
    <link rel="stylesheet" href="/css/output.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/xupload.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
    $.cookie('file_id', '<TMPL_VAR file_id>', { expires: 10 });
    <TMPL_IF aff>$.cookie('aff', '<TMPL_VAR aff>', { expires: 10 });</TMPL_IF>
    <TMPL_IF referer>$.cookie('ref_url', '<TMPL_VAR referer>', { expires: 10 });</TMPL_IF>
    </script>
    </head>

    <body class="bg-gray-900">
    
    <TMPL_IF devtools_mode><TMPL_INCLUDE detector_devtools.html></TMPL_IF>

    <TMPL_IF usr_disable_adb>
        <TMPL_IF adb_mode><TMPL_INCLUDE detector_adb.html></TMPL_IF>
    </TMPL_IF>
    
    <TMPL_IF video_code_js>
      
        <TMPL_VAR video_code_html>
    
    </TMPL_IF>
    
    <TMPL_IF video_wait>
         <div style="width:100%;height:100%;position:relative;">
         <img src="<TMPL_VAR video_img_url>" style="border:0;width:100%;height:100%;">
               <TMPL_IF msg2>
               <div id="over_player_msg"><TMPL_VAR msg2></div>
               </TMPL_IF>
         </div>
    </TMPL_IF>
    
    <TMPL_VAR video_code_js>
    
    <TMPL_IF enc_status>
    <script>
     encStatus('<TMPL_VAR file_id>',1);
    </script>
    </TMPL_IF>
    
    <TMPL_IF usr_disable_adb><script src="/js/pop.js"></script></TMPL_IF>
    <script>
    $(function() {
     <TMPL_IF usr_disable_adb>
        if( window.cRAds === undefined ){ $('#adbd').css('display','table'); }
    
        <TMPL_IF force_disable_popup_blocker>
        var test = window.open(null,"","width=1,height=1");
        setTimeout(function(){
        if (test && test.innerHeight && test.innerHeight > 0) { 
            test.close();
        }
        else {
            $('#adbd').css('display','table');
        }
        }, 10);
        </TMPL_IF>
     </TMPL_IF>
    });
    </script>
    
    <TMPL_IF ad_code>
    <!-- Custom User Ads start -->
        <TMPL_VAR ad_code>
    <!-- Custom User Ads end -->
    </TMPL_IF>
    
    <TMPL_IF video_ads>
    <!-- Javascript Alt Ads code start -->
        <TMPL_IF ad1><script>console.log('AD1');</script></TMPL_IF>
        <TMPL_IF ad2><script>console.log('AD2');</script></TMPL_IF>
        <TMPL_IF ad3><script>console.log('AD3');</script></TMPL_IF>
    <!-- Javascript Alt Ads code end -->
    </TMPL_IF>
    
    </body>
    </html>