<div class="relative isolate bg-gray-900 py-24 sm:py-32">
  <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
    <div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-3xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-400">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Plans for teamsof&nbsp;all&nbsp;sizes</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-300">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</p>

    <!-- lg+ -->
    <div class="isolate mt-20 hidden lg:block">
      <div class="relative -mx-8">
        <div class="absolute inset-x-4 inset-y-0 -z-10 flex">
          <div class="flex w-1/2 px-4" style="margin-left: 60%" aria-hidden="true">
            <div class="w-full rounded-t-xl border-x border-t border-white/10 bg-white/5"></div>
          </div>
        </div>
        <table class="w-full table-fixed border-separate border-spacing-x-8 text-left bg-gray-900 shadow-2xl rounded-2xl">
          <caption class="sr-only">
            Pricing plan comparison
          </caption>
          <colgroup>
            <col class="w-1/2" />
            <col class="w-1/2" />
            <col class="w-1/2" />
          </colgroup>
          <thead>
            <tr>
              <td></td>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-sm font-semibold leading-7 text-white">Free</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-sm font-semibold leading-7 text-white">Premium</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="sr-only">Price</span></th>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-white">
                  <span class="text-4xl font-bold">€0</span>
                  <span class="text-sm font-semibold leading-6">/month</span>
                </div>
                <a href="/register" class="mt-8 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-white/10 hover:bg-white/20 focus-visible:outline-white">Sing Up</a>
              </td>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-white">
                  <span class="text-4xl font-bold">€4.99</span>
                  <span class="text-sm font-semibold leading-6">/month</span>
                </div>
                <a href="#" class="mt-8 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-indigo-500 hover:bg-indigo-400 focus-visible:outline-indigo-600">Buy plan</a>
              </td>
            </tr>
            <tr>
              <th scope="colgroup" colspan="4" class="pb-4 text-sm font-semibold leading-6 text-white pt-8">
                Features
                <div class="absolute inset-x-8 mt-4 h-px bg-white/10"></div>
              </th>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Storage space
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">15 GB</span>
              </td>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">500 GB</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Download speed
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">500 kbp/s</span>
              </td>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">Max speed</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                File expiration
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">Never</span>
              </td>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">Never</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Max upload file size
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">1 GB</span>
              </td>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">50 GB</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Restore deleted files
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">Up to 30 days</span>
              </td>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">Up to 180 days</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                FTP Upload
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Remote Upload
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                No ads
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Advanced analytics
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Priority encoding
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Account badge
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center">
                <span class="text-white text-sm">-</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-white">
                Custom Download Link
                <div class="absolute inset-x-8 mt-4 h-px bg-white/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
