MOBILE

<script src="<TMPL_VAR static_url>/js/jquery.cookie.js"></script>
<script>
$.cookie('file_id', '<TMPL_VAR file_id>', { expires: 10 });
<TMPL_IF aff>$.cookie('aff', '<TMPL_VAR aff>', { expires: 10 });</TMPL_IF>
<TMPL_IF referer>$.cookie('ref_url', '<TMPL_VAR referer>', { expires: 10 });</TMPL_IF>
</script>

<TMPL_IF msg><div class="err_div"><TMPL_VAR msg></div></TMPL_IF>


<TMPL_IF playlist_prev><div style="float:left;padding:7px;"><a href="<TMPL_VAR playlist_prev>"><TMPL_VAR playlist_prev_title></a></div></TMPL_IF>
<TMPL_IF playlist_next><div style="float:right;padding:7px;"><a href="<TMPL_VAR playlist_next>"><TMPL_VAR playlist_next_title></a></div></TMPL_IF>

    <div id="video-content" class="left"> <!-- start player-->
        <!--div class="player">
        </div-->

<TMPL_IF video_code_html>

<div id="pdiv" style="display: table-cell;position:relative;width:980px;height:550px;max-height:550px;">
    <TMPL_IF video_ads>
        <!-- Over player banner ADs code start here -->

        <!-- Over player banner ADs code end here -->
    </TMPL_IF>

    <!--div id="adbd" class="overdiv">
    	<div>Disable ADBlock plugin and allow pop-ups in your browser to watch video</div>
    </div-->

    <div id="play_limit_box">
    	<a href="/premium.html"><TMPL_VAR lng_download_upgrade_your_account></a> <TMPL_VAR lng_download_to_watch_no_limits>
    </div>
    <TMPL_IF preview_message><div id="over_player_msg" style="display:none;"><TMPL_VAR preview_message></div></TMPL_IF>

    <TMPL_VAR video_code_html>
    
</div>
</TMPL_IF>

<TMPL_IF video_wait>
<div style="width:<TMPL_VAR play_w>px;height:<TMPL_VAR play_h>px;position:relative;">
    <img src="<TMPL_VAR video_img_url>" style="border:2px solid #c3c3c3;width:<TMPL_VAR play_w>px;height:<TMPL_VAR play_h>px;">
    <TMPL_IF msg2>
      <div id="over_player_msg"><TMPL_VAR msg2></div>
    </TMPL_IF>
</div>
</TMPL_IF>

    </div> <!--end player-->    
    <div id="content" class="left">
    <h2><TMPL_VAR file_title>
         <TMPL_IF edit_ok> <a href="/?op=file_edit&amp;file_code=<TMPL_VAR file_code>" class="hovered txt11"><img src="/images/edit.png" border=0></a></TMPL_IF>
         <TMPL_IF admin><b class="txt11" id="fft"><a href="#" onclick="return jah('/adm?op=admin_files_featured&amp;ajax_toggle=<TMPL_VAR file_id>','fft')" class="hovered">[<TMPL_IF featured>Remove from Featured<TMPL_ELSE>Add to Featured</TMPL_IF>]</a></b></TMPL_IF>
    </h2> 
    <div id="undervideo">
    	<div style="border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 7px;">
    		<span class="views" title="<TMPL_VAR lng_download_views>"><TMPL_VAR file_views> views</span>

			<div class="likebox">

                    <div id="vote">
                     <a href="#" class="vote_up<TMPL_VAR voted_up>" onclick="return jah('/?op=vote&file_code=<TMPL_VAR file_code>&v=up')" title="<TMPL_VAR lng_download_like>">+</a> <span id="likes_num"><TMPL_VAR likes></span>
                     <a href="#" class="vote_down<TMPL_VAR voted_down>" onclick="return jah('/?op=vote&file_code=<TMPL_VAR file_code>&v=down')" title="<TMPL_VAR lng_download_dislike>">&ndash;</a> <span id="dislikes_num"><TMPL_VAR dislikes></span>
                    </div>

                    <div class="likestatus">
                        <span style="width:<TMPL_VAR likes_percent>%;"><span>
                    </div>
                    <!--span class="likedislike"><TMPL_VAR likes> <TMPL_VAR lng_download_likes>, <TMPL_VAR dislikes> <TMPL_VAR lng_download_dislikes><span-->

        	</div>
    	</div>
        <div>
        	<img src="<TMPL_VAR user_avatar_url>" class="channel_avatar">
            <div class="uploadby"><a href="/users/<TMPL_VAR file_usr_login>" class="hovered"><TMPL_VAR usr_channel_name></a></div>
            <!--div class="clear"></div-->
            <span class="uploadate"><TMPL_VAR lng_download_on_time> <TMPL_VAR file_created_txt></span>
        </div>

        <div class="clear"></div>
    </div>

<div class="section">
    <ul class="tabs">
        <li><TMPL_VAR lng_download_report_abuse></li>
        <li><TMPL_VAR lng_download_share></li>
        <li><TMPL_VAR lng_download_add_to></li>
        <TMPL_IF downloads><li><TMPL_VAR lng_download_tab_download></li></TMPL_IF>
        <li class="current"><TMPL_VAR lng_download_about></li>
    </ul>
    <div class="box" id="id_flag"> <!--Flag start-->
        <form method="POST" action="/" onsubmit="$.post('/',$(this).serialize(),function(code){ eval(code); } );return false;">
        <input type="hidden" name="op" value="report_file">
        <input type="hidden" name="file_code" value="<TMPL_VAR file_code>">
        <TMPL_VAR lng_download_flag_reason>: <select name="report_type">
            <option><TMPL_VAR lng_download_flag_reason1></option>
            <option><TMPL_VAR lng_download_flag_reason2></option>
            <option><TMPL_VAR lng_download_flag_reason3></option>
            <option><TMPL_VAR lng_download_flag_reason4></option>
        </select>
        <textarea name="report_info" style="width:98%; margin:5px 0;" cols=24 rows=2 placeholder="<TMPL_VAR lng_download_flag_details>"></textarea>
        <input type="submit" name="add" value="<TMPL_VAR lng_download_flag_send>" class="f-btn-blue">
        </form>
    </div> <!--Flag end-->
    <div class="box"> <!--Share start-->
        <div class="tabber" style="text-align:left;width:100%;">
        <div class="tabbertab">
        <h2><TMPL_VAR lng_download_download_link></h2>
            <textarea style="width:98%;" cols=24 rows=3><TMPL_VAR download_link></textarea>
        </div>
        <div class="tabbertab">
        <h2><TMPL_VAR lng_download_forum_code></h2>
            <textarea style="width:98%;" cols=24 rows=3>[URL=<TMPL_VAR download_link>][IMG]<TMPL_VAR video_thumb_url>[/IMG]
<TMPL_VAR file_title>[/URL]
[<TMPL_VAR vid_width>x<TMPL_VAR vid_height>, <TMPL_VAR vid_length_txt>]</textarea>
        </div>
        <div class="tabbertab">
        <h2><TMPL_VAR lng_download_html_code></h2>
            <textarea style="width:98%;" cols=24 rows=3><a href="<TMPL_VAR download_link>"><img src="<TMPL_VAR video_thumb_url>" border=0><br><TMPL_VAR file_title></a><br>[<TMPL_VAR vid_width>x<TMPL_VAR vid_height>, <TMPL_VAR vid_length_txt>]</textarea>
        </div>
        <TMPL_IF video_embed_code>
            <div class="tabbertab">
            <h2><TMPL_VAR lng_download_embed_code></h2>
            <div style="padding:2px;text-align:left;">Embed size: <input type="text" id="iew" value="640" size=3>x<input type="text" id="ieh" value="360" size=3></div>
            <textarea id="iet" style="width:98%;" cols=24 rows=3><TMPL_VAR embed_code></textarea>
            </div>
        </TMPL_IF>

        <TMPL_IF deurl>
            <div class="tabbertab">
            <h2><TMPL_VAR lng_download_short_link></h2>
            <textarea style="width:98%;" cols=24 rows=3><TMPL_VAR deurl></textarea>
            </div>
        </TMPL_IF>

        </div>
    </div> <!--Share end-->
    <div class="box" id="add_to"> <!--AddTo start-->
        <TMPL_IF my_login>
            <b><TMPL_VAR lng_download_add_to_playlist></b>
            	<div><a href="/?op=add_to_playlist&file_code=<TMPL_VAR file_code>&pls_id=watchlater&<TMPL_VAR token_str>" onclick="return jah(this.href,$(this).parent())">Watch later</a> (<TMPL_VAR playlist_watch_later>)</div>
            <TMPL_LOOP playlists>
                <div><a href="/?op=add_to_playlist&file_code=<TMPL_VAR file_code>&pls_id=<TMPL_VAR pls_id>&<TMPL_VAR token_str>" onclick="return jah(this.href,$(this).parent())"><TMPL_VAR pls_name></a> (<TMPL_VAR num>)</div>
            </TMPL_LOOP>
                <div><input type="button" value="<TMPL_VAR lng_download_new_playlist_name>" class="f-btn-blue" onclick="var x=prompt('<TMPL_VAR lng_download_new_playlist_name>:','');if(typeof(x)=='undefined'||x==null)return false; return jah('/?op=add_to_playlist&file_code=<TMPL_VAR file_code>&<TMPL_VAR token_str>&new='+x,$(this).parent());" style="margin-top:10px;"></div>

            <TMPL_IF add_to_account>
            <br><br><span><input type="button" value="<TMPL_VAR lng_download_add_to_my_account>" class="f-btn-green" onclick="return jah('/?op=my_files&amp;add_my_acc=<TMPL_VAR file_code>',$(this).parent())"></span>
            </TMPL_IF>
        </TMPL_IF>
    </div> <!--AddTo end-->
    <TMPL_IF downloads>
    <div class="box"> <!--Download start-->
        <TMPL_IF download_original>
        <table class="tbl1" >
        <th colspan=2>Download video</th>
        <TMPL_LOOP versions>
        <tr><td><TMPL_IF not_available><a href="#" onclick="alert('<TMPL_VAR lng_download_premium_for_originals>');return false;"><TMPL_ELSE><a href="<TMPL_VAR quality_download_link>"></TMPL_IF><TMPL_VAR vid_title></a></td><td><TMPL_VAR vid_width>x<TMPL_VAR vid_height>, <TMPL_VAR file_size_mb></td></tr>
        </TMPL_LOOP>
        </table>
        </TMPL_IF>

        <TMPL_IF audio_extract_on>
        <br>
        <form method="POST" action="/dl">
        <input type="hidden" name="op" value="audio_extract">
        <input type="hidden" name="file_code" value="<TMPL_VAR file_code>">
        <input type="submit" name="dl" value="Download MP3/AAC audio" style="width:200px;border:1px solid #303030;padding:5px;">
        </form>
        </TMPL_IF>
    </div> <!--Download end-->
    </TMPL_IF>
    <div class="box visible"> <!--About start-->
        <div class="tabcontent">
        <ul>
                <TMPL_IF file_descr>
                <li>
                <p class="aboutleft">Description</p>
                <p class="aboutright"><TMPL_VAR file_descr></p>
                </li>
                </TMPL_IF>
                <li>
                <p class="aboutleft"><TMPL_VAR lng_download_category></p>
                <p class="aboutright"><a href="/category/<TMPL_VAR category2>"><TMPL_VAR category></a></p>
                </li>
                <li>
                <TMPL_LOOP extra_data>
                <li>
                <p div class="aboutleft"><TMPL_VAR name></p>
                <p class="aboutright"><a href="/s/<TMPL_VAR name>/<TMPL_VAR value2>"><TMPL_VAR value></a></p>
                </li>
                </TMPL_LOOP>
                <TMPL_IF tags>
                <li>
                <p class="aboutleft"><TMPL_VAR lng_download_tags></p>
                <p class="aboutright"><TMPL_LOOP tags><a href="/tag/<TMPL_VAR tag_value2>" class="tag"><TMPL_VAR tag_value></a> </TMPL_LOOP></p>
                </li>
                </TMPL_IF>
        </ul>
        </div>
    <div class="clear"></div>
    </div> <!--About end-->
</div><!-- .section -->

<TMPL_IF facebook_app_id_like>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=<TMPL_VAR facebook_app_id_like>&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
</TMPL_IF>

    <TMPL_IF enable_file_comments>
        <TMPL_IF facebook_comments>
            <fb:comments href="<TMPL_VAR download_link>" num_posts="3" width="640"></fb:comments>
        <TMPL_ELSE>
            <TMPL_INCLUDE comments.html>
        </TMPL_IF>
    </TMPL_IF>
    
    </div>
    
    <div id="sidebar1">
        <div class="withoutbg left" style="padding-left:30px">
            <h3><TMPL_VAR lng_download_more_files></h3> <!--title-->
            <TMPL_LOOP files>
                <div class="videobox">
                    <a href="<TMPL_VAR download_link>">
                        <span class="video200" style="background: url(<TMPL_VAR video_thumb_url>) no-repeat;">
                        	<span><TMPL_VAR file_length2></span>
                        </span>
                    </a>
                    <a href="<TMPL_VAR download_link>" class="title"><TMPL_VAR file_title_txt></a>
                </div>
            </TMPL_LOOP>
        </div>  
    </div>

<TMPL_VAR video_code_js>


<Script>
$("#embed_div textarea").focus(function (){ $(this).select(); })
var tab_cookie='tab_down';

$('ul.tabs').on('click', 'li:not(.current)', function() {
    $(this).addClass('current').siblings().removeClass('current')
        .parents('div.section').find('div.box').eq($(this).index()).fadeIn(150).siblings('div.box').hide();
});

$("#iew,#ieh").change(function (){
    var ww = $("#iew").val();
    var hh = $("#ieh").val();
    ww = ww.replace(/\D/g,'');
    hh = hh.replace(/\D/g,'');
    if(!ww)ww=640;
    if(!hh)hh=360;
    tt = $("#iet").val();
    tt = tt.replace(/ WIDTH=\d+ HEIGHT=\d+ /,' WIDTH='+ww+' HEIGHT='+hh+' ');
    $("#iet").val(tt);
});

<TMPL_IF enc_status>
encStatus('<TMPL_VAR file_id>',1);
</TMPL_IF>
</Script>
<script src="<TMPL_VAR static_url>/js/tabber.js"></script>

<TMPL_IF usr_disable_adb111><script src="<TMPL_VAR cdn_url>/js/googima.js"></script></TMPL_IF>
<Script>
$(function() {
 <TMPL_IF usr_disable_adb111>
	if( window.cRAds === undefined ){ $('#adbd').css('display','table'); }

	<TMPL_IF force_disable_popup_blocker>
	var test = window.open(null,"","width=1,height=1");
	setTimeout(function(){
	if (test && test.innerHeight && test.innerHeight > 0) { 
		test.close();
	}
	else {
		$('#adbd').css('display','table');
	}
	}, 10);
	</TMPL_IF>
 </TMPL_IF>
});
</Script>

<TMPL_IF ad_code>
<!-- Custom User Ads start -->
	<div style="clear:both"><TMPL_VAR ad_code></div>
<!-- Custom User Ads end -->
</TMPL_IF>

<TMPL_IF video_ads>
<!-- Javascript Alt Ads code start -->
	<TMPL_IF ad1><script>console.log('AD1');</script></TMPL_IF>
	<TMPL_IF ad2><script>console.log('AD2');</script></TMPL_IF>
	<TMPL_IF ad3><script>console.log('AD3');</script></TMPL_IF>
<!-- Javascript Alt Ads code end -->
</TMPL_IF>