<TMPL_INCLUDE menu_main.html>

    <div class="relative isolate bg-gray-900 py-24 sm:py-32">
        <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
            <div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div> 
        <div class="mx-auto max-w-8xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:max-w-4xl">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-6 lg:mx-0 lg:max-w-none lg:grid-cols-1">
                    <article class="flex flex-col items-start justify-between">
                      <div class="relative w-full">
                        <img src="<TMPL_VAR news_image>" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                      <div class="w-full">
                        <div class="mt-8 flex items-center gap-x-4 text-xs font-medium">
                          <time datetime="2020-03-16" class="text-gray-400"><TMPL_VAR created_txt></time>
                          <span class="text-gray-400"><TMPL_VAR comm> <TMPL_VAR lng_news_comments></span>    

                        </div>
                        <div class="group relative">
                          <h3 class="mt-5 text-lg font-semibold leading-6 text-white">
                              
                              <TMPL_VAR news_title>
                          </h3>
                          <div class="mt-5 text-sm leading-6 text-gray-300">
                            <TMPL_VAR news_text>
                          </div>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4">
                          <TMPL_IF usr_avatar>
                            <img src="<TMPL_VAR site_url>/upload-data/<TMPL_VAR usr_avatar>" alt="" class="h-10 w-10 rounded-full bg-gray-50 object-cover">
                          <TMPL_ELSE>
                            <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full border border-gray-700 bg-gray-800 text-[1rem] font-semibold text-gray-400 group-hover:text-white uppercase"><TMPL_VAR usr_login_short></span> 
                          </TMPL_IF> 
                          <div class="text-sm leading-6">
                            <p class="font-semibold text-gray-300">
                              <a href="<TMPL_VAR site_url>/@<TMPL_VAR usr_login>" target="_blank">
                                
                                <TMPL_VAR usr_channel_name>
                              </a>
                            </p>
                            <p class="text-gray-400">Co-Founder / CTO</p>
                          </div>
                        </div>
                      </div>
                    </article>

                    <div class="relative" id="comments">
                        <div class="absolute inset-0 flex items-center" aria-hidden="true">
                          <div class="w-full border-t border-gray-800"></div>
                        </div>
                        <div class="relative flex justify-center">
                          <span class="bg-gray-900 px-2 text-gray-500">Comments</span>
                        </div>
                    </div>
                      

                    <TMPL_IF enable_file_comments>
                        <TMPL_INCLUDE comments.html>
                    </TMPL_IF>
                      
                </div>     
            </div>
        </div>
    </div>        

<TMPL_INCLUDE footer.html>  