<html>
<body style="width:100%;height:100%;padding:0;margin:0;">
<script src="<TMPL_VAR static_url>/js/jquery.min.js"></script>
<script src="<TMPL_VAR static_url>/player/jw8/jwplayer.js"></script>
<script>jwplayer.key="<TMPL_VAR jw8_key>";</script>

<div id="vplayer" style="width:100%;height:100%;"></div>


<script>
  jwplayer("vplayer").setup({
    file: "<TMPL_VAR host_htdocs_url>/hlsx/<TMPL_VAR stream_code>.m3u8",
    image: "<TMPL_VAR host_htdocs_url>/tmp/<TMPL_VAR stream_code>.jpg",
    width: "100%", 
    height: "100%",
    autostart: "viewable",
    androidhls: "true",
    hlshtml: "true",
    primary: "html5",
    startparam: "start"
  });

var player = jwplayer();

var pinger='';
var visible=1;
var invisTimer='';

player.on('play', function(x) { streamStart(x); });

player.on('pause', function(x) { streamPause(x); });

player.on('complete', function() { 
	if(pinger!==''){ clearInterval(pinger); }
	window.location='/streams/<TMPL_VAR stream_code>.html';
});

player.on('error', function() { window.location='/streams/<TMPL_VAR stream_code>.html'; });

//if(document.visibilityState=='visible'){ player.play(); }

function streamStart(){
	if(pinger!==''){ clearInterval(pinger); }
	pingOnline();
	pinger = setInterval(pingOnline, 15000);
}

function pingOnline(){
	//if(visible==0)return;
	$.get('<TMPL_VAR site_url>/dl?op=stream_ping&stream_id=<TMPL_VAR stream_id>', function(data) {eval(data);} );
}

function streamEnd(){
	if(pinger!==''){ clearInterval(pinger); }
	window.location='/streams/<TMPL_VAR stream_code>.html';
}

function streamPause(){
	if(pinger!==''){ clearInterval(pinger); }
}

document.addEventListener("visibilitychange", function() {
  if(document.visibilityState=='hidden')visible=0;
  if(document.visibilityState=='visible')visible=1;
  <TMPL_IF m_q_stop_invis_after>
  if(visible==0){
  	invisTimer = setTimeout(function (){player.stop();},<TMPL_VAR m_q_stop_invis_after>*1000);
  }
  else { 
  	clearTimeout(invisTimer); 
  }
  </TMPL_IF>
});
</script>

</body>
</html>