<TMPL_INCLUDE menu-1.html> 
    <TMPL_INCLUDE top_menu.html>  	
    
    <TMPL_INCLUDE upload_menu.html>
    
    <TMPL_INCLUDE menu-2.html>   

<h2><TMPL_VAR lng_uploadform_torrent_upload></h2>

<TMPL_IF msg><div class="ok"><TMPL_VAR msg></div><br></TMPL_IF>
<TMPL_IF error>
	<div class="err"><TMPL_VAR error></div><br>
<TMPL_ELSE>


You're using <TMPL_VAR slots_used> of <TMPL_VAR slots_total> torrent slots

<div class="upload_block">
<form name="tt" enctype="multipart/form-data" action="<TMPL_VAR host_cgi_url>/upload_torrent.cgi" method="post" onSubmit="if(this.magnet.value=='' && !this.file_0.value.match(/\.torrent$/i)){alert('Not a .torrent file!');return false;}">
<input type="hidden" name="sess_id" value="<TMPL_VAR sess_id>">

<table cellpadding=2 class="upload_slot">
<tr>
    <td align=right valign=top>Torrent</td>
    <td>
    	<div id="tnt">
    		.torrent file (or <a href="#" onclick="$('#tnt').hide();$('#mgndiv').show();return false;">Magnet-link</a>):<br>
	 		<input type="file" name="file_0" onChange="if(!this.value.match(/\.torrent$/)){alert('Not a .torrent file!');return false;}" size=56>
	 	</div>
	 	<div id="mgndiv" class="inv">Magnet-link (or <a href="#" onclick="$('#tnt').show();$('#mgndiv').hide();return false;">.torrent file</a>): <input type="text" name="magnet" value="" size=52></div>
    </td>
</tr>
<tr>
    <td align=right width="5%"><TMPL_VAR lng_uploadform_category></td>
    <td><select name="cat_id" id="cat_id"><option value="0"><TMPL_VAR lng_uploadform_choose></option><TMPL_LOOP categories><option value="<TMPL_VAR cat_id>"><TMPL_VAR pre><TMPL_VAR cat_name></TMPL_LOOP></select></td>
</tr>
<tr>
    <td align=right><TMPL_VAR lng_uploadform_tags></td>
    <td><input type="text" name="tags" size=64></td>
</tr>
<tr valign=top>
    <td align=right></td>
    <td><label><input type="checkbox" name="file_public" value="1"><TMPL_VAR lng_uploadform_public></label></td>
</tr>
<tr valign=top>
    <td align=right></td>
    <td><label><input type="checkbox" name="file_adult" value="1"><TMPL_VAR lng_uploadform_adult></label></td>
</tr>
<TMPL_LOOP extra_data>
<tr valign=top>
    <td align=right><TMPL_VAR name></td>
    <td><input type="text" name="extra_<TMPL_VAR name>" value="" class="extra_field extra_<TMPL_VAR name>"></td>
</tr>
</TMPL_LOOP>
</table>

<TMPL_IF tos_accept_checkbox>
<div style="margin:12px;"><label for="tos4"><TMPL_VAR lng_uploadform_i_agree></label> <a href="tos.html"><TMPL_VAR lng_uploadform_tos_short></a> <input type="checkbox" name="tos" value="1" id="tos4" checked onClick="if(this.checked){this.form.submit_btn.disabled=false}else{this.form.submit_btn.disabled=true};this.blur();"></div>
<br>
</TMPL_IF>
<input name="submit_btn" type="submit" value=" <TMPL_VAR lng_uploadform_upload_button> " class="f-btn-green">

<input type="hidden" name="upload_type" value="file">
</form>

<TMPL_IF tt_msg>
 <br><br><br>
 <b><TMPL_VAR tt_msg></b>
</TMPL_IF>





<script src="<TMPL_VAR static_url>/js/jquery.cookie.js"></script>
<script>
var category_required='<TMPL_VAR category_required>';
$("select[name=cat_id]").val( $.cookie('cat_id') );
$("select[name=cat_id]").change(function(){ $.cookie('cat_id', $("#cat_id").val(), { expires: 9999 }); });
$("input[name=file_public]").prop("checked", $.cookie('file_public') );
$("input[name=file_public]").click(function(){ var val='';if($(this).prop("checked"))val=1;$.cookie('file_public', val, { expires: 9999 }); });
$("input[name=file_adult]").prop("checked", $.cookie('file_adult') );
$("input[name=file_adult]").click(function(){ var val='';if($(this).prop("checked"))val=1;$.cookie('file_adult', val, { expires: 9999 }); });
</script>

</TMPL_IF>